{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'yp/css/menu.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="{% static '/yp/js/tools.js' %}" defer></script>
    {% block head %}
    {% endblock head %}
</head>

<body>
    <input type="hidden" id="csrf" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div id="container">

        <header id="menu">
            <a class='button' href='/v/'>Videos</a>
            <a class='button' href='/c/'>Chanels</a>
            <a href='/'><img alt="Young Planet Logo" src="http://clipart-library.com/img1/689289.gif"></a>
            <a class='button' href='/studio/'>Studio</a>
            <a class='button' href='/about/'>About</a>
            <div id='right'>
                <div id="user-authenticated" style="display: none;">
                    <a class='button' onclick="get_notifications(event)" id="notifications-button">Notifications</a>
                    <a class='button' href='/u/me/'>Profile</a>
                </div>
                <div id="user-not-authenticated" style="display: none;">
                    <a class='button' href='/u/reg/'>Register</a>
                    <a class='button' href='/u/login/'>Login</a>
                </div>
            </div>
        </header>

        <main id="main">
            <a id="notification-example" style="display:none;">
                <div class="notification">
                    <img alt="Notification Chanel Logo" src="http://clipart-library.com/img1/689289.gif">
                    <p></p>
                </div>
            </a>
            <div id="no-notifications" class="notification" style="display:none;">
               <p class="notifications-ui">You have no notifications yet</p>
            </div>
            <a id="clear-notifications" onclick="clear_notifications(event)" style="display:none;">
                <div class="notification">
                    <p class="notifications-ui">Clear Notifications</p>
                </div>
            </a>
            <div id="notifications-tab" style="display:none;"></div>

            {% block content %}
            {% endblock content %}
        </main>

        <footer id="footer">
            <div class="footer-column">
                <a href="facebook.com">Social Media</a>
                <a href="youtube.com">YouTube</a>
            </div>
            <div class="footer-column">
                <a href="facebook.com">Social Media</a>
                <a href="youtube.com">YouTube</a>
            </div>
        </footer>

    </div>
</body>
</html>

